

    <div align="center" class="float-left">
      <form action="/api/deleteNumber" method="post">
        <h3>Click this button to delete the record in the database</h3><br />
      <h3> Number:-</h3></h2>  <input type="text" name="number"/><br />
      <br />
        <button type="submit">Burn 'em Up!</button>
        </form>
    </div>
