<h1> I am Index Page!</h1>

<form action="/api/addnumber" method="get">
  <button type="submit">Add</button>
</form>

<form action="/api/updateNumber" method="get">
<button type="submit">Update</button>
</form>

<form action="/api/deleteNumber" method="get">
<button type="submit">Delete</button>
</form>
