<div align="center" class="float-left">
  <form action="/api/updateNumber" method="post">
    <h3>Click this button to update the record in the database</h3><br />
  <h3> Number:-</h3></h2>  <input type="text" name="number"/><br />
  <h3> First_name:-</h3>  <input type="text" name="fname"/><br />
  <h3> Last_Name:-</h3>  <input type="text" name="lname"/><br />
  <br />
    <button type="submit">Change 'em Up!</button>
    </form>
</div>
